<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>
<div *ngIf="hero; else second">
  <h2>{{hero.name | uppercase}}</h2>
  <button type="button" (click)="goBack()">back to previous page</button>
</div>
<ng-template #second>Data kosong</ng-template>
